*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Local environment folders
.android-home/
.gradle-home/
.kotlin/

# Security and Logging
*.jks
*.keystore
key.properties
*.log

# OS specific
.DS_Store
Thumbs.db
